*{
    font-family: Helvetica;
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #b1b1b1;
    padding-top: 10px;
    padding-bottom: 10px;
    font-variant: small-caps;
    font-size: 15px;
    font-weight: bold;
}
body .form{
    border-radius: 5px;
    border: solid #b1b1b1;
    padding: 5px;
    margin: 10px;
}
body .content{
    display: flex;
}
body .coluna1{
    flex-direction: column;
    background-color: brown;
    width: 50%;
}
body .coluna2{
    flex-direction: column;
    background-color: burlywood;
    width: 50%;
}
body .coluna3{
  background-color: khaki;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding: 10px;
}
.coluna3 textarea{
  width: 20%;
  align-self: center;
}
.coluna3 label{
  align-self: center;
}