*{
    font-family: Helvetica;
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #b1b1b1;
    padding-top: 10px;
    padding-bottom: 10px;
    font-variant: small-caps;
    font-size: 15px;
    font-weight: bold;
}